@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    width: 430px;
    
}


header {
    background-image: url(/assets/images/images-iphone/header-background.png);
    background-size: cover;
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1{
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 2em;
    color: #FFFFFF;
    text-transform: uppercase;
    white-space: pre-line;
}

header p {
    color: #FFFFFF;
    padding: 24px 0px;
    min-width: 2vw;
    margin: auto;
}

.button {
    width: 381px;
    height: 54px;
    margin: 10px auto;
    background-color: #FFFFFF;
    border-radius: 28px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    align-content: center;    
}

.button-2 {
    background-color: #23272A;
    color: #FFFFFF;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 2em;
    color: #23272A;    
    text-transform: uppercase;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    size: 1.5em;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #23272A;
    
}

section {
    padding: 40px 24px;
}

h2, p {
    
    padding: 12px 0px;
}

footer {
    width: 430px;
    height: 140px;
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 431px) {

    html{
        min-width: 100%;
    }

    header{
        background-image: url(/assets/images/images-desktop/background.png);
        max-width: 100%;
     }

     header h1,p {
        margin: auto;
     }

     header h1 {
        font-size: 3em;
        white-space: pre-line;
        text-align: center;
     }


     h1 {
        font-size: 3em;
     }

     h2 {
        font-size: 2.5em;
     }

     header p {
        padding: 10px 200px ;
        text-align: center;

     }

     p {
        font-size: 1em;
     }

     .button-container {
        margin: auto;
        width: 600px;
        display: flex;
        flex-direction: row;        
     }

     .button {
        box-sizing: border-box;
        padding: 0px 20px;
        min-width: 220px;
        flex-basis: max-content ;
     }

     section {
        margin: auto;
        width: 970px;
        display: flex;
        align-items: center;
     }

     picture img {

     }

     .section-2 {
        display: flex;
        flex-direction: row-reverse;
     }

     .card-container {
        width: 351px;
        display: flex;
        flex-direction: column;
     }

     .last-section {
        width: 800px;
        display: flex;
        flex-direction: column;
     }

     footer {
        width: 100%;
     }

}

@media (min-width: 431px) {
    header p {
        column-count: 2;
        padding: 20px 50px;
    }

    .button-container {
        flex-direction: column;  
    }

    .button {
        flex-basis: auto;
    }

}

@media (min-width: 800px) {
    header p {
        column-count: 1;        
        padding: 20px 50px;
    }

    .button-container {
        flex-direction: row;   
        gap: 10px;     
    }

}